/input
input/
./input
input/*
best_model.h5
.best_model.h5
./.best_model.h5

./ipynb_checkpoints
/ipynb_checkpoints
ipynb_checkpoints/
.DS_Store

./figures
/figures/*
./figures/*
figures/*

data/*
data/
./data*
./data/
SIR/data*
SIR/data
SIR/data/*
SIR/data

UQ/UQ_toolbox


LSTM/*.p
LSTM/.p*

SIR/Sensitivity Analysis.ipynb

.ipynb_checkpoints
